@charset "utf=8";

@media all and (max-width:1710px){
    #wrap .main5 #section4 .wrap .gap .container .title {text-align:center;opacity:0;transition:all .3s;padding-bottom:200px}
    #wrap .main5 #section4 .wrap .gap .container .content .img-box {display:none;}
    #wrap .main5 #section4 .wrap .gap .container .content .txt-box {position:relative;width:100%;height:auto;display:flex;align-items:center;justify-content:center;}
    #wrap .main5 #section4 .wrap .gap .container .content > div:nth-child(2) {top:0;left:0;opacity:0;transition:all .4s;transition-delay:.3s;}
    #wrap .main5 #section4.addEvent .wrap .gap .container .content > div:nth-child(2) {opacity:1;}
    #wrap .main5 #section4 .wrap .gap .container .content > div:nth-child(3) {top:0;left:0;text-align:center;opacity:0;transition:all .4s;transition-delay:.5s;}
    #wrap .main5 #section4.addEvent .wrap .gap .container .content > div:nth-child(3) {opacity:1;}
    #wrap .main5 #section4 .wrap .gap .container .content > div:nth-child(4) {bottom:0;left:0;text-align:center;opacity:0;transition:all .4s;transition-delay:.7s;}
    #wrap .main5 #section4.addEvent .wrap .gap .container .content > div:nth-child(4) {opacity:1;}
    #wrap .main5 #section4 .wrap .gap .container .content > div:nth-child(5) {bottom:0;right:0;text-align:center;opacity:0;transition:all .4s;transition-delay:.9s;}
    #wrap .main5 #section4.addEvent .wrap .gap .container .content > div:nth-child(5) {opacity:1;}
    #wrap .main5 #section4 .wrap .gap .container .content > div:nth-child(5) {bottom:0;right:0;text-align:center;opacity:0;transition:all .4s;transition-delay:1.1s;}
    #wrap .main5 #section4.addEvent .wrap .gap .container .content > div:nth-child(5) {opacity:1;}
    #wrap .main5 #section4 .wrap .gap .container .content > div:nth-child(6) {top:0;right:0;text-align:center;width:100%;opacity:0;transition:all .4s;transition-delay:1.3s;}
    #wrap .main5 #section4.addEvent .wrap .gap .container .content > div:nth-child(6) {opacity:1;}
    #wrap .main5 #section4 .wrap .gap .container .content {width:100%;text-align:center;margin-top:200px;position:relative;}

    #wrap .main5 #section4 .wrap .gap .container .content .txt-box h5 {padding:15px 10px;}

    #wrap .main5 #section4 .wrap .gap .container .content .center-txt {position:absolute;width:auto;height:auto;top:-40%;left:44%;}
    #wrap .main5 #section4 .wrap .gap .container .content .center-txt h4 {font-size:17px;font-weight:700;color:#03569f}
    #wrap .main5 #section4 .wrap .gap .container .content .center-txt h2 {font-size:38px;font-weight:600;padding-top:10px;}
}
@media all and (max-width:1200px){
    #wrap .main5 #section3 {width:100%;height:auto;}
    #wrap .main5 #section3 .wrap {margin-top:65px;width:100%;height:100%;box-sizing:border-box;}
    #wrap .main5 #section3 .wrap .gap {background:url(../img/m51_1_sec1_bg.jpg) no-repeat center;width:100%;height:1126px;background-size:cover;}
    #wrap .main5 #section3 .wrap .gap .container ul {display:flex;justify-content:center;text-align:center;width:100%;position:relative;flex-wrap:wrap;}
    #wrap .main5 #section3 .wrap .gap .container ul li {float:left;position:relative;width:40%;height:348px;border:1px solid #fff;display:flex;align-items:center;justify-content:center;margin:30px;box-sizing:border-box;transition:all .5s;transform:perspective(600px) rotateY(270deg)}
    #wrap .main5 #section3 .wrap .gap .container ul li:nth-child(2)::before {display:none;}
}
@media all and (max-width:1000px){
    #wrap .main5 #section5 .wrap .gap .container .txt-wrap p {width:80%;margin:0 auto;line-height:140%;}
}

@media all and (max-width:800px){
    #wrap .main5 #section3 .wrap .gap .container ul li {height:231px;}
    #wrap .main5 #section3 .wrap .gap .container ul li .content-wrap .img-box {width:80px;height:80px;border-radius:50%;background:#1f8cb7;margin:30px auto;}


}